extends layout

block content
  h1= title

  - var items = results

  mixin list_div
    each item,i in items
      div(class="row", onClick=`buy(${i})`)
        div(class="col-sm-2")=item.len_of_tunnel
        div(class="col-sm-2")=item.no_of_lanes
        div(class="col-sm-2")=item.tunnel_name
        div(class="col-sm-2")=item.is_operational
  
  div(class="container-fluid")
    +list_div

  script.
    function buy(i) {
      console.log(i)
      alert(`You purchased item ${i+1}`);
    }