extends layout

block content
  h1= title

  - var items = results

  div(class="row row-style-head")
    div(class="col-sm-2 col-style") <b>Tunnel Length (in miles)</b>
    div(class="col-sm-2 col-style") <b>No of Lanes</b>
    div(class="col-sm-2 col-style") <b>Tunnel Name</b>
    div(class="col-sm-2 col-style") <b>Is Operational</b>

  mixin list_div
    each item,i in items
      div(class="row row-style", onClick=`buy(${i})`)
        div(class="col-sm-2 col-style")=item.len_of_tunnel
        div(class="col-sm-2 col-style")=item.no_of_lanes
        div(class="col-sm-2 col-style")=item.tunnel_name
        div(class="col-sm-2 col-style")=item.is_operational
  
  div(class="container-fluid")
    +list_div

  script.
    function buy(i) {
      console.log(i)
      alert(`You purchased item ${i+1}`);
    }